@model bool
@{
    ViewBag.Title = Model == true ? "Block Site" : "UnBlock Site";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
}
<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel1"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6  col-md-offset-3 ">
                    <div class="dash-box mt-10">
                        <div class="dash-head">
                            @(Model == true ? @Resource.UnBlock_Site : @Resource.Block_Site)
                        </div>
                        <div class="dash-inner">
                            <form id="frmBlockSite" class="customers-info">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-lg-4"><label class="control-label">@Resource.Current_Status :</label></div>
                                        <div class="col-lg-8"><label class="control-label"><u><b>@(Model == true ? @Resource.Site_blocked : @Resource.Site_not_blocked)</b></u></label></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4"><label class="control-label">@Resource.Password :</label></div>
                                        <div class="col-lg-8"><input name="password" id="txtPassword" class="form-control" type="password" value="" required></div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-primary" id="btnUpdate">@(Model == true ? @Resource.UnBlock_Site : @Resource.Block_Site)</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section script{
    @*<script type="text/javascript" src="~/Scripts/custom/Service/ServiceMethods.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/CtrlBlockSite.js"></script>*@


    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Service/ServiceMethods.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>

    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/CtrlBlockSite.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
}
