@{
    ViewBag.Title = "ChangePassword";
}
@section header{
}
<div class="content-wrapper">
    <div id="uiPanel1"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-lg-offset-4 col-md-offset-3 ">
                    <!--<div class="header-title">
                        <div class="heading-title">
                            <h2> @Resource.Change_Password</h2>
                        </div>
                    </div>-->
                    <form id="frmResetPassword">
                        <div class="dash-box mt-10">
                            <div class="dash-head">
                                @Resource.Change_Password
                            </div>
                            <div class="dash-inner">
                                <div class="form-group">
                                    <label for="txtOldPassword" class="control-label">* @Resource.Old_Password</label>
                                    <div>
                                        <input class="form-control" id="txtOldPassword" name="oldpassword" type="password">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label for="txtNewPassword" class="control-label">* @Resource.New_Password</label>
                                    <div>
                                        <input class="form-control" id="txtNewPassword" name="password" type="password">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label for="txtConfirmNewPassword" class="control-label">* @Resource.Confirm_Password</label>
                                    <div>
                                        <input class="form-control" id="txtConfirmNewPassword" name="confirmPassword" type="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="button" class="btn btn-primary" id="btnCancel" value=@Resource.Cancel>
                                    <input type="submit" class="btn btn-primary" id="btnSubmit" value=@Resource.Submit>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section script{
   @* <script src="~/Scripts/custom/Controller/CtrlResetPassword.js"></script>*@
 

<script type="text/javascript" language="javascript">
    var versionUpdate = (new Date()).getDate();
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "/Scripts/custom/Controller/CtrlResetPassword.js?v=" + versionUpdate;
    document.body.appendChild(script);
</script>
<script type="text/javascript" language="javascript">

        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


</script>

}