@{
    ViewBag.Title = "EditProfile";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{

}

<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel2"></div>
        <section class="container-fluid" id="pnlOrderConfirmation">
            <div class="header-title">
                <div class="heading-title">
                    <h2>Edit Profile</h2>
                </div>
            </div>
            @*style="display:none"*@
            <div class="row">
                <div class="col-md-6">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.Billing_Address
                        </div>
                        <div class="dash-inner" id="divBillingAddress" style="min-height:140px">
                            @{
                                Html.RenderPartial("~/Views/Shared/_PartialAddressManager.cshtml", 1);
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.Shipping_Address
                        </div>
                        <div class="dash-inner" id="divShippingAddress" style="min-height:140px">
                            @{
                                Html.RenderPartial("~/Views/Shared/_PartialAddressManager.cshtml", 2);
                            }
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.Other_Details
                        </div>
                        <div class="dash-inner" id="divOtherDetails">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="firstName">@Resource.Type</label>
                                        <div class="checkbox">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="isManufacturer" value="" id="chkManufacturer" />Is Manufacturer
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="isWholeSaler" value="" id="chkWholeSaler" /> Is WholeSaler
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="isRetailer" value="" id="chkRetailer" />Is Retailer
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="isOther" value="" id="chkOther" />Other
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" id="DivOtherType" style="display: none;">
                                    <div class="form-group">
                                        <label for="txtOtherType">@Resource.Other_Type</label>
                                        <input type="text" name="otherType" class="form-control" id="txtOtherType" placeholder="Write Other Type" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtPhoneCode">@Resource.Phone</label>
                                        <div>
                                            <input type="text" name="phoneCode01" value="" class="form-control pho-code" id="txtPhoneCode" />
                                            <input type="text" name="phone01" value="" class="form-control pho-num" id="txtPhone" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtFax">@Resource.Fax</label>
                                        <input type="text" class="form-control" id="txtFax" name="Fax" placeholder="" maxlength="12">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtMobile">@Resource.Mobile</label>
                                        <input type="text" class="form-control" id="txtMobile" name="Mobile" placeholder="" maxlength="12">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtDateOfEstablishment">@Resource.Date_Of_Establishment</label>
                                        <input type="text" name="dateOfEstablishment" value="" class="form-control datePicker" id="txtDateOfEstablishment" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtEmail">@Resource.Email</label>
                                        <input type="text" name="emailId" value="" class="form-control" id="txtEmail" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtWebsite">@Resource.Website</label>
                                        <input type="text" name="website" value="" class="form-control" id="txtWebsite" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtAccNumber">@Resource.Account_Number</label>
                                        <input type="text" class="form-control" name="accNumber" value="" id="txtAccNumber" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtBankName">@Resource.Bank_Name</label>
                                        <input type="text" class="form-control" name="bankName" value="" id="txtBankName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtBranch">@Resource.Branch_Name</label>
                                        <input type="text" name="branchName" value="" class="form-control" id="txtBranch" placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtBranchAddress">@Resource.Branch_Address</label>
                                        <textarea class="form-control" name="branchAddress" value="" id="txtBranchAddress"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTinNo">@Resource.TIN</label>
                                        <input type="text" class="form-control" name="tinNo" value="" id="txtTinNo" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtBranchAddress">@Resource.PAN_No</label>
                                        <input type="text" class="form-control" name="pan" value="" id="txtPan" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtTinNo">@Resource.GST_No</label>
                                        <input type="text" class="form-control" name="gstNo" value="" id="txtGstNo" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-primary">@Resource.Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

@section script{
    <script type="text/javascript" src="~/Scripts/custom/Controller/ModuleAddressManager.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlEditProfile.js"></script>
}
