@model ManageRightsViewModel
@{
    ViewBag.Title = "Manage Rights";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{

}
<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel2"></div>
        <section class="container-fluid" id="pnlOrderConfirmation">
            @*style="display:none"*@
            <div class="row">
                <div class="col-md-12">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.Manage_Rights
                        </div>
                        <div class="dash-inner">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label class="control-label">@Resource.Select_User</label>
                                    <select class="form-control" id="ddlUser">
                                        <option value="">Select User</option>
                                        @for (int i = 0; i < Model.Users.Count; i++)
                                        {
                                            <option value="@Model.Users[i].Value">@Model.Users[i].Text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-inline mt-15">
                                <div class="form-group">
                                    @for (int i = 0; i < Model.Menus.Count; i++)
                                    {
                                        <input type="checkbox" name="Rights" class="design-checkbox" value="@(Model.Menus[i].RowID)" id="chkRight@(Model.Menus[i].RowID)" />
                                        <label for="chkRight@(Model.Menus[i].RowID)">@Model.Menus[i].Name</label>
                                    }
                                </div>
                            </div>

                            <div class="mt-10">
                                <button class="btn btn-primary" id="btnUpdate">@Resource.Update</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.User_Vs_Rights
                        </div>
                        <div class="table-box list-view" id="divOtherDetails">
                            <div class="customers-list-table">
                                <table class="table customers-table">
                                    <thead>
                                        <tr class="table-head">
                                            <td class="tbnew">@Resource.Users</td>
                                            <td class="tbnew">@Resource.Rights</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Data.Count; i++)
                                        {
                                            <tr>
                                                <td>@(Model.Data[i].firstName + " " + Model.Data[i].lastName)</td>
                                                <td>@Model.Data[i].DownloadNames</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

@section script{
    @*<script src="~/Scripts/custom/Service/ServiceMethods.js"></script>*@
    @*<script src="~/Scripts/custom/Controller/CtrlDownloadRightManage.js"></script>*@

    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Service/ServiceMethods.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>

    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/CtrlDownloadRightManage.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
}


