@{
    ViewBag.Title = "Memo";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
}
@*<input type="hidden" name="MemoQuery" id="hfMemoQuery" value="" />*@

<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel1"></div>
        <div style="display:none;">
            <a id="ancInventoryDownload" href="/Inventory/ExportToExcelInventoryDownload"></a>
        </div>
        <section id="secGrid">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div id="panelHeading" class="memo-title">
                        <h2>@Resource.Memo_Pending <span>( Total Stone:  <strong>1024</strong> )</span></h2>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="memo-btn">
                        @*<div class="searchbox">
                            <input type="text" class="search-input" placeholder="Enter Lot/Cert. number to quick search ...." /> 
                            <div class="search-icon">
                                <img src="~/Content/img/memo-search.png" />
                            </div>
                        </div>*@
                        <form method="post" action="/Order/OrderListingDownloadExcel">
                            <button class="btn btn-info" id="btnMergeMemo" style="display:none;">@Resource.Merge_Memo</button>
                            <button type="submit" class="btn"><span><img src="~/Content/img/memo-save.png" /></span> @Resource.Download</button>
                            <input type="hidden" name="OType" id="hfOType" value="Memo" />
                            <input type="hidden" name="OStatus" id="hfOStatus" value="Pending" />
                        </form>
                        <div id="divReturnSale" style="display:none;">
                            <button class="btn btn-info" id="btnMemoReturn">@Resource.RETURN_SALE</button>
                        </div>
                        <div class="sold-btnbox">
                            <button class="btn sold-btn" id="btnViewSoldHistory" data-toggle="HideSoldHistory"><span><img src="~/Content/img/cart.png" /></span> @Resource.View_Sold_History</button>
                        </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="customers-list-table">
                    <div class="customers-list-table">
                        <div class="col-md-12">
                            <div class="memo-table">
                                
                                <div class="panel-body paneltable">
                                    <table id="tblOrders" class="table table-fixed dataTable no-footer">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>#</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.MEMO <br /> @Resource.No</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Created <br /> @Resource.Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Customer</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Remark</label>
                                                </th>
                                                <th class="tbnew" style="word-wrap: break-word;">
                                                    <label>@Resource.Item <br /> @Resource.Count</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Total <br /> @Resource.CT</label>
                                                </th>
                                                <th class="tbnew" style="word-wrap: break-word;">
                                                    <label>@Resource.Avg .  <br /> @Resource.Rap <br /> @Resource.Price</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Total  <br /> @Resource.Rap <br />@Resource.Price</label>
                                                </th>
                                                <th class="tbnew avgDisc">
                                                    <label>@Resource.Avg . <br /> @Resource.Discount</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Avg . <br /> @Resource.Price_ct</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Total_Amt</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Created <br /> @Resource.By</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Actions</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd">
                                                <td><label class="checkbox"><input type="checkbox" value="81207"></label></td>
                                                <td class="sorting_1">81207</td>
                                                <td>03-08-2020</td>
                                                <td>Banas Jewels-Darshan Damania</td>
                                                <td></td>
                                                <td><a class="ancShowItems" data-id="81207" "=" " data-disc="-29.35" data-name="Darshan Damania | Banas Jewels" href="#">125</a></td>
                                                <td>40.95</td>
                                                <td>2078.61</td>
                                                <td>85119</td>
                                                <td>-29.35</td>
                                                <td>1,468.45</td>
                                                <td>60,132.95</td>
                                                <td>Shanay</td>
                                                <td class="">
                                                    <button type="button" class="btn stock-add btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-plus fa-lg"></i></button>
                                                    <ul class="dropdown-menu dropdown-menu-add pull-right">
                                                        <li><a href="#" data-index="0" data-id="81207" data-disc="-29.35" data-name="Banas Jewels | Darshan Damania" class="btnSellFullMemo"><i class="fa fa-opencart"></i>Sell Full Memo</a></li>
                                                        <li><a href="#" data-index="0" data-id="81207" data-cname="Banas Jewels | Darshan Damania" class="btnCancelFullMemo"><i class="fa fa-times"></i>Cancel Full Memo</a></li>
                                                        <li><a href="#" data-index="0" data-id="81207" class="btnEditMemo"><i class="fa fa-pencil"></i>Edit</a></li>
                                                        <li><a href="#" data-index="0" data-id="81207" class="btnExportMemo"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Export to Excel</a></li>
                                                        <li><a href="#" data-index="0" data-id="81207" class="btnSendMailMemo"><i class="fa fa-envelope-o"></i>Send a Mail</a></li>
                                                        <li><a href="#" data-index="0" data-id="81207" class="btnPrintMemoItems"><i class="fa fa-print"></i>Print</a></li>
                                                        <li><a href="/RFID/TallyMemo/81207" target="_blank" class="btnRFIDMatching"><i class="fa fa-file-excel-o"></i>RFID Matching</a></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr role="row" class="even">
                                                <td><label class="checkbox"><input type="checkbox" value="81206"></label></td>
                                                <td class="sorting_1">81206</td>
                                                <td>23-07-2020</td>
                                                <td>Rosy Blue Hong Kong Ltd-MANAN JHAVERI</td>
                                                <td>ankit</td>
                                                <td><a class="ancShowItems" data-id="81206" "=" " data-disc="-28.46" data-name="MANAN JHAVERI | Rosy Blue Hong Kong Ltd" href="#">294</a></td>
                                                <td>126.13</td>
                                                <td>2957.67</td>
                                                <td>373050.6</td>
                                                <td>-28.46</td>
                                                <td>2,115.79</td>
                                                <td>266,864.98</td>
                                                <td>Shanay</td>
                                                <td><button type="button" class="btn stock-add btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus fa-lg"></i></button>
                                                    <ul class="dropdown-menu dropdown-menu-add pull-right">
                                                    <li><a href="#" data-index="1" data-id="81206" data-disc="-28.46" data-name="Rosy Blue Hong Kong Ltd | MANAN JHAVERI" class="btnSellFullMemo"><i class="fa fa-opencart"></i>Sell Full Memo</a></li>  
                                                    <li><a href="#" data-index="1" data-id="81206" data-cname="Rosy Blue Hong Kong Ltd | MANAN JHAVERI" class="btnCancelFullMemo"><i class="fa fa-times"></i>Cancel Full Memo</a></li>         
                                                    <li><a href="#" data-index="1" data-id="81206" class="btnEditMemo"><i class="fa fa-pencil"></i>Edit</a></li> 
                                                    <li><a href="#" data-index="1" data-id="81206" class="btnExportMemo"><i class="fa fa-file-excel-o" aria-hidden="true"></i>Export to Excel</a></li>     
                                                    <li><a href="#" data-index="1" data-id="81206" class="btnSendMailMemo"><i class="fa fa-envelope-o"></i>Send a Mail</a></li>  
                                                    <li><a href="#" data-index="1" data-id="81206" class="btnPrintMemoItems"><i class="fa fa-print"></i>Print</a></li>  
                                                    <li><a href="/RFID/TallyMemo/81206" target="_blank" class="btnRFIDMatching"><i class="fa fa-file-excel-o"></i>RFID Matching</a></li>   
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="secMemoItems" style="display:none">
            @Html.Partial("~/Views/Shared/_PartialSpecificSearchResult.cshtml", "Memo")
            <div>
                <input type="hidden" name="OrderID" id="hfOrderID" value="" />
                <input type="hidden" name="IsSellPartial" id="hfIsSellPartial" value="false" />

                <input type="hidden" name="IntIID" id="hfIntIID" value="" />
                <input type="hidden" name="OrdID" id="hfOrdID" value="" />
            </div>
        </section>
    </section>
</div>
<!--Modal for Memo-->
@Html.Partial("~/Views/Shared/_MemoPopupPartial.cshtml")
<!--Modal for SellFull-->


<div id="Modal-SellFullMemo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <form class="modal-content" id="frmSellFullMemo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resource.Sell_Full_Memo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <div class="form-group" id="Modal-SellFullMemo-Message">

                            </div>
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="MemoMode" value="1" id="chkWebMode" checked>@Resource.Web_Mode
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="MemoMode" value="2" id="chkSalesMode">@Resource.Sales_Mode
                                </label>
                            </div>
                            <div class="form-group" id="pnlMemoSales" style="display:none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="MemoAgvDiscount">
                                            @Resource.Web_Avg_Discount
                                        </label>
                                        <input class="form-control" name="MemoAgvDiscount" id="txtMemoAvgDiscount" placeholder="Web Discount" disabled />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="hidden" name="MemoOrderID" id="hfOrderID" value="" />
                                        <label for="MemoAgvDiscount">
                                            @Resource.Sale_Discount
                                        </label>
                                        <input class="form-control" name="MemoAgvDiscount" id="txtMemoSaleDiscount" value="0" placeholder="Sale Discount" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnSaleMemo">@Resource.Sale</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </form>

    </div>
</div>

<div id="Modal-EditMemo" class="modal fade col-md-8" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <form class="modal-content" id="frmEditMemo">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resource.Edit_Memo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form">
                            <div class="form-group" id="Modal-EditMemo-Message">

                            </div>
                            <div class="form-group" id="pnlMemoSales">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="EditMemoCustomer">
                                            @Resource.Customer
                                        </label>
                                        <select id="ddlCustomer2" name="EditMemoCustomer"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-primary" target="_blank" href="/User?OnlyAddCustomer=true"><i class="fa fa-plus" aria-hidden="true"></i>Add Customer</a>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="EditMemoRemark">
                                            @Resource.Remark
                                        </label>
                                        <textarea class="form-control" name="EditMemoRemark" id="txtEditMemoRemark" value="" placeholder="Remark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnUpdateMemo">@Resource.Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </form>

    </div>
</div>

@*@if (Model.NeedsToRunJs)
    {
        <script type="text/javascript">
            MemoDetailsShow('81187','');
        </script>
    }*@
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlMemo.js"></script>
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/CtrlMemoDetails.js"></script>*@
}




