@model  List<RecentSearchViewModel>

@{
    Layout = null;
}

@if (Model == null || Model.Count == 0)
{
    <div class="table-no-results text-center">
        <div class="table-nrimg-box"><img src="../Content/img/no_data_icon.svg" alt="" /></div>
        <div class="table-nr-text">You’ve not saved any search yet!</div>
        <div class="table-btn-box">
            <a href="/Inventory/SpecificSearch" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search Now</a>
        </div>
    </div>
}
else
{
    <ul class="table-ul">
        @foreach (var item in Model)
        {
            <li class="table-li">
                <div class="se-info">
                    <div class="seinfo-l1">
                        <span class="sespce sefound">@item.TotalFound</span>
                        <span class="sespce sedate">1 hr ago</span>
                        <span class="sespce sename">@item.searchCriteriaName</span>
                    </div>
                    <div class="seinfo-l2">@item.displayCriteria</div>
                </div>
                <div class="se-info-action">
                    <a class="loadData" data-Criteria="@item.searchCriteria" href="#"><span class="se-bx"><i class="fa fa-search" aria-hidden="true"></i></span></a>
                    <a class="removeSearch" data-id="@item.recentSearchID" href="#"><span class="se-bx de-bx"><i class="fa fa-trash" aria-hidden="true"></i></span></a>
                </div>
            </li>
        }
    </ul>

    <script>

    </script>
}
