@{
    ViewBag.Title = "Admin Support";
    Rosyblueonline.Models.TokenLogModel objToken = Session["Token"] as Rosyblueonline.Models.TokenLogModel;
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<form style="display:none" id="frmPostSearch" method="post" action="/Inventory/SpecificSearchPost">
    <input type="hidden" name="Query" id="hfQuery" value="" />
</form>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-one alert-warning">
                    <a href="#" class="info-boxtxt" id="ancMemoCount">
                        <div class="info-box-content">
                            <span class="info-box-text">@Resource.MEMO</span>
                            <div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0 </span>
                            <img src="~/Content/img/Memo.png" />
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-one">
                    <a href="#" class="info-boxtxt" id="ancRoundCount">
                        <div class="info-box-content">
                            <span class="info-box-text">@Resource.Round_Shapesm</span>
                            <div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0</span>
                            <img class="" src="../Content/img/Round1.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-two">
                    <a href="#" class="info-boxtxt" id="ancFancyShapeCount">
                        <div class="info-box-content">
                            <div class="info-box-text">@Resource.Fancy_Shapesm</div>
                            <div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">0</span>
                            <img class="" src="../Content/img/fancysh.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="info-box-three">
                    <a href="#" class="info-boxtxt" id="ancFancyColorCount">
                        <div class="info-box-content">
                            <span class="info-box-text">@Resource.Fancy_Colorsm</span><div class="line"></div>
                            <br>
                            <span class="info-box-number pull-right">
                                0
                            </span>
                            <img class="" src="../Content/img/fancycoloursh.png">
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="container col-lg-12">
                <table class="table-panel tabledash" id="tblStockDetails">
                    <thead>
                        <tr class="rserachrow">
                            <th class="rsearch">@Resource.Date</th>
                            <th class="rsearch">@Resource.Opening</th>
                            <th class="rsearch">@Resource.New_Upload</th>
                            <th class="rsearch">@Resource.MEMO</th>
                            <th class="rsearch">@Resource.Order Pending</th>
                            <th class="rsearch">@Resource.Sold</th>
                            <th class="rsearch">@Resource.Closing</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        @if (objToken.loginID == 11749 || objToken.loginID == 3379)
        {
            <div class="row">
                <div class="customers-list-table">
                    <div class="customers-list-table">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-heading">@Resource.New_Customer</div>
                                </div>
                                <div class="panel-body paneltable">
                                    <table id="tblNewCustomers" class="table table-fixed dataTable no-footer">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>@Resource.Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Company</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Email</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.View</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Approve</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Remove</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @*@Html.Partial("~/Views/Shared/_PartialStockSummary.cshtml", model: 1)*@
    </section>
</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    @*<script type="text/javascript" src="~/Scripts/custom/Service/ServiceMethods.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/ModuleStockSummary.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/CtrlAdminSupportDashboard.js"></script>*@


    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Service/ServiceMethods.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>

    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/ModuleStockSummarys.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>

    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/CtrlAdminSupportDashboard.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
    <script>

        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


    </script>

}

