@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
        
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
    <html  >

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <form style="display:none" id="frmPostSearch" method="post" action="/Inventory/SpecificSearchPost">
            <input type="hidden" name="Query" id="hfQuery" value="" />
        </form>
        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">

                        <div class="info-box-one alert-warning">


                            <a href="#" class="info-boxtxt" id="ancMemoCount">
                                <div class="info-box-content">
                                    <span class="info-box-text">@Resource.MEMO</span>
                                    <div class="line"></div>
                                    <br>
                                    <span class="info-box-number pull-right">0 </span>
                                    <img src="~/Content/img/Memo.png" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box-one">
                            <a href="#" class="info-boxtxt" id="ancRoundCount">
                                <div class="info-box-content">
                                    <span class="info-box-text">@Resource.ROUND_SHAPE</span>
                                    <div class="line"></div>
                                    <br>
                                    <span class="info-box-number pull-right">0</span>
                                    <img class="" src="../Content/img/Round1.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box-two">
                            <a href="#" class="info-boxtxt" id="ancFancyShapeCount">
                                <div class="info-box-content">
                                    <div class="info-box-text">@Resource.FANCY_SHAPE</div>
                                    <div class="line"></div>
                                    <br>
                                    <span class="info-box-number pull-right">0</span>
                                    <img class="" src="../Content/img/fancysh.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box-three">
                            <a href="#" class="info-boxtxt" id="ancFancyColorCount">
                                <div class="info-box-content">
                                    <span class="info-box-text">@Resource.FANCY_COLOR</span><div class="line"></div>
                                    <br>
                                    <span class="info-box-number pull-right">
                                        0
                                    </span>
                                    <img src="../Content/img/fancycoloursh.png">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="info-box-six">
                            <a href="#" class="info-boxtxt" id="ancBestDealCount">
                                <div class="info-box-content">
                                    <div class="info-box-text">@Resource.BEST_DEAL</div><div class="line"></div>
                                    <br>
                                    <span class="info-box-number pull-right">0</span>
                                    <img class="" src="../Content/img/like_flat.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-heading">@Resource.Stock_Details</div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblStockDetails">
                                    <thead>
                                        <tr class="rserachrow">
                                            <th>Date</th>
                                            <th>Opening</th>
                                            <th>New Upload</th>
                                            <th>Memo</th>
                                            <th>Order Pending</th>
                                            <th>Sold</th>
                                            <th>Closing</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#r_search">Recent Search</a></li>
                            <li><a data-toggle="tab" href="#p_orderpending">Pending Order Details</a></li>
                            <li><a data-toggle="tab" href="#o_orderdetail">View Memo Details</a></li>
                            <li><a data-toggle="tab" href="#o_customerDemandDetail">Customer Demand</a></li>
                            <li><a data-toggle="tab" href="#o_customerRecentdetail">Customer Recent Search</a></li>
                            <li><a data-toggle="tab" href="#o_customerActivityDetails">Customer Activity Details</a></li>
                        </ul>
                        <div class="panel panel-body">
                            <div class="tab-content">
                                <div id="r_search" class="tab-pane fade in active">
                                    <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblRecentSearch">
                                        <thead>
                                            <tr class="rserachrow">
                                                <th>Date</th>
                                                <th>Total Found</th>
                                                <th>Criteria</th>
                                                <th>Load Result</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="s_search" class="tab-pane fade">
                                    <table class="table table-striped table-panel tabledash" id="tblSavedSearch">
                                        <thead>
                                            <tr class="rserachrow">
                                                <th>Date</th>
                                                <th>Total Found</th>
                                                <th>Criteria</th>
                                                <th>Load Result</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="d_search" class="tab-pane fade">
                                    <table class="table table-striped table-panel tabledash" id="tblDemandSearch">
                                        <thead>
                                            <tr class="rserachrow">
                                                <th>Date</th>
                                                <th>Total Found</th>
                                                <th>Criteria</th>
                                                <th>Load Result</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="p_orderpending" class="tab-pane fade">
                                    <table id="tblPendingOrders" class="table table-striped">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>#</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Order ID</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Created Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Amount</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Customer</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Company</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Actions</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="o_orderdetail" class="tab-pane fade">
                                    <table id="tblCompletedOrders" class="table table-striped">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>#</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Order ID</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Created Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Amount</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Customer</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Company</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Actions</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="o_customerDemandDetail" class="tab-pane fade">
                                    <table id="tblCustomerDemandDetail" class="table table-striped">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Total Found</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Demand Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Criteria</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Load Result</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Delete</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="o_customerRecentdetail" class="tab-pane fade">
                                    <table id="tblCustomerRecentdetail" class="table table-striped">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>Customer Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>View</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="o_customerActivityDetails" class="tab-pane fade">
                                    <table id="tblCustomerActivityDetails" class="table table-striped">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>Customer Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Location</label>
                                                </th>

                                                <th class="tbnew">
                                                    <label>Last Login</label>
                                                </th>

                                                <th class="tbnew">
                                                    <label>View</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="customers-list-table">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="panel-heading">New customer</div>
                                </div>
                                <div class="panel-body paneltable">
                                    <table id="tblNewCustomers" class="table table-striped table-fixed dataTable no-footer">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Company</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Email</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>View</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Approve</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>Remove</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*@Html.Partial("~/Views/Shared/_PartialStockSummary.cshtml", model: 1)*@
            </section>


        </div>



        <div id="Modal-UserActivityLog" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal"> &times;</a>
                        <h4 class="modal-title">View Customer Activity Log</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblCustomerLogData">
                            <thead>
                                <tr class="rserachrow">
                                    <th>ActionName</th>
                                    <th>ActionDetails</th>
                                    <th>CreatedOn</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



        <div id="dashboard-ViewCustomer" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal"> &times;</a>
                        <h4 class="modal-title">View Customer Details</h4>
                    </div>
                    <div class="modal-body" id="pnlViewCustomer">

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="" id="hfCustomerID" value="" />
                        <button type="button" class="btn btn-info" id="btnPopUpApprove">Approve</button>
                        <button type="button" class="btn btn-danger" id="btnPopUpReject">Reject</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="dashboard-ViewRecentSearch" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal"> &times;</a>
                        <h4 class="modal-title">View Customer Recent Searches</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-fixed dataTable no-footer tabledash" id="tblCustomerRecentSearchResult">
                            <thead>
                                <tr class="rserachrow">
                                    <th>Date</th>
                                    <th>Total Found</th>
                                    <th>Criteria</th>
                                    <th>Load Result</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </body>

    </html>
    @section script{
        @Scripts.Render("~/bundles/DataTable/Script")
        <script id="tmpCustomer" type="text/x-jquery-tmpl">
            <table class="table table-striped">
                <tbody>
                    <tr class="recentSearch">
                        <td>
                            <label class="control-label"><label for="Email_Address">Email Address</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${emailId}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Address_Line_2">Address Line 2</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding"> ${address01}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Customer_Name_">Customer Name </label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${firstName} ${lastName}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="City">City</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">${cityName}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Company_Name">Company Name</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${companyName}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Zip_Code">Zip Code</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">${zipCode}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Type">Type</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold">
                                {{if isManufacturer == true}}
                                Manufacturer
                                {{/if}}
                                {{if isWholeSaler == true}}
                                WholeSaler
                                {{/if}}
                                {{if isRetailer == true}}
                                Retailer
                                {{/if}}
                                {{if isOther == true}}
                                ${otherType}
                                {{/if}}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Phone_1">Phone 1</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding"> ${phoneCode01} - ${phone01} </label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Bank_Name">Bank Name</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${bankName}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Phone_2">Phone 2</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding"> ${phoneCode02} - ${phone02}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Mobile">Mobile</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">${mobile}</label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Branch_Name">Branch Name</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${branchName}
                            </label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Branch_Address">Branch Address</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${branchAddress}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Fax">Fax</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${fax01}
                            </label>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <label class="control-label"><label for="Account_Number">Account Number</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${accNumber}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Website">Website</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding"> ${website}</label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label class="control-label"><label for="Address_Line_1">Address Line 1</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">
                                ${address01}
                            </label>
                        </td>
                        <td>
                            <label class="control-label"><label for="Reference_Name">Reference Name</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">NA</label>
                        </td>


                    </tr>
                    <tr>

                        <td>
                            <label class="control-label"><label for="Country">Country</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">${countryName}</label>
                        </td>
                        <td>
                            <label class="control-label"><label for="State">State</label></label>
                        </td>
                        <td>
                            <label class="control-label no-bold ng-binding">${stateName}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>
        <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
        <script type="text/javascript" src="~/Scripts/custom/Service/ServiceMethods.js"></script>
        @*<script type="text/javascript" src="~/Scripts/custom/Controller/ModuleStockSummary.js"></script>*@
        <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlAdminDashboard.js"></script>

          
    }


