@{
    ViewBag.Title = "Customer";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<form style="display:none" id="frmPostSearch" method="post" action="/Inventory/SpecificSearchPost">
    <input type="hidden" name="Query" id="hfQuery" value="" />
</form>
<div class="content-wrapper">
    <section class="content">

        <div class="dashtop-box">
            <div class="row r10">
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-one">
                        <a href="#" class="info-boxtxt" id="ancRoundCount">
                            <span class="info-box-number" id="TotalRoundShapes">0</span>
                            <span class="info-box-text">@Resource.Round_Shapesm</span>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img1.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-two">
                        <a href="#" class="info-boxtxt" id="ancFancyShapeCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">@Resource.Fancy_Shapesm</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img2.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-three">
                        <a href="#" class="info-boxtxt" id="ancFancyColorCount">
                            <span class="info-box-number">0</span>
                            <span class="info-box-text">@Resource.Fancy_Colorsm</span>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img3.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-four">
                        <a href="#" class="info-boxtxt" data-criteria="NewArrival" id="ancNewArrivalsCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">@Resource.New_Arrivals</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img4.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-five">
                        <a href="#" class="info-boxtxt" id="ancRevisedStonesCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">@Resource.Revised_Stones</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img5.svg"></span>
                        </a>
                    </div>
                </div>
                <div class="cl col-md-2 col-sm-6 col-xs-12">
                    <div class="inbx inbx-six">
                        <a href="#" class="info-boxtxt" id="ancBestDealCount">
                            <span class="info-box-number">0</span>
                            <div class="info-box-text">@Resource.BEST_DEAL</div>
                            <span class="info-box-img"><img class="" src="../Content/img/dashboard-img6.svg"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="dash-box">
                    <div class="dash-head">@Resource.Recent_Search</div>
                    <div id="r_search" class="table-box">
                        <table class="table table-fixed dataTabletabledash" id="tblRecentSearch">
                            <thead>
                                <tr class="rserachrow">
                                    <th width="200">@Resource.Date</th>
                                    <th width="150">@Resource.Total Found</th>
                                    <th>@Resource.Criteria</th>
                                    <th width="250">@Resource.Load Result</th>
                                    <th width="150">@Resource.Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dash-box">
                    <div class="dash-head clearfix">
                        @Resource.Saved_Search
                        @*<button type="button" class="btn btn-link">View All (304) <i class="fa fa-angle-right"></i></button>*@
                    </div>
                    <div class="dash-inner">
                        <ul id="tblSavedSearch" class="table-ul"></ul>
                        @*<ul class="table-ul">
                                <li class="table-li">
                                    <div class="se-info">
                                        <div class="seinfo-l1"><span class="sespce sefound">30,558</span><span class="sespce sedate">1 hr ago</span><span class="sespce sename">Mayur P.</span></div>
                                        <div class="seinfo-l2">GIA-Origin | HA-yes | Good | Good</div>
                                    </div>
                                    <div class="se-info-action">
                                        <a class="act-link al1" href="#"><span class="se-bx"><i class="fa fa-search" aria-hidden="true"></i></span></a>
                                        <a class="act-link al2" href="#"><span class="se-bx de-bx"><i class="fa fa-trash" aria-hidden="true"></i></span></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="table-no-results text-center">
                                <div class="table-nrimg-box"><img src="../Content/img/no_data_icon.svg" alt="" /></div>
                                <div class="table-nr-text">You’ve not saved any search yet!</div>
                                <div class="table-btn-box">
                                    <a href="/Inventory/SpecificSearch" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search Now</a>
                                </div>
                            </div>*@

                        <!--<table class="table table-fixed dataTable tabledash" id="tblSavedSearch">
                            <thead>
                                <tr class="rserachrow">
                                    <th>@Resource.Date</th>
                                    <th>@Resource.Total Found</th>
                                    <th>@Resource.Criteria</th>
                                    <th>@Resource.Load Result</th>
                                    <th>@Resource.Delete</th>
                                </tr>
                            </thead>
                        </table>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dash-box">
                    <div class="dash-head clearfix">
                        @Resource.Demand_Search
                        @*<button type="button" class="btn btn-link">View All (201) <i class="fa fa-angle-right"></i></button>*@

                    </div>
                    <div id="d_search" class="dash-inner">
                        <ul id="tblDemandSearch" class="table-ul"></ul>

                        <!--<table class="table table-fixed dataTable tabledash" id="tblDemandSearch">
                            <thead>
                                <tr class="rserachrow">
                                   <th>@Resource.Date</th>
                               <th>@Resource.Total_Found</th>
                               <th>@Resource.Criteria</th>
                               <th>@Resource.Load Result</th>
                               <th>@Resource.Delete</th>
                                </tr>
                            </thead>
                        </table>-->

                    </div>
                </div>
            </div>
        </div>
        <!--<div id="p_orderpending" class="tab-pane fade">
            @Resource.Pending_Order_Details
            <table id="tblPendingOrders" class="table table-striped table-fixed dataTable no-footer">
                <thead class="bordertp">
                    <tr role="row" class="table-head">
                        <th class="tbnew">
                            <label>#</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Order_ID</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Created_Date</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Amount</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Customer</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Company</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Actions</label>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="o_orderdetail" class="tab-pane fade">
            @Resource.View_Order_Details
            <table id="tblCompletedOrders" class="table table-striped table-fixed dataTable no-footer">
                <thead class="bordertp">
                    <tr role="row" class="table-head">
                        <th class="tbnew">
                            <label>#</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Order_ID</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Created_Date</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Amount</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Customer</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Company</label>
                        </th>
                        <th class="tbnew">
                            <label>@Resource.Actions</label>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>-->

    </section>
</div>

@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>

    <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
     
    <script type="text/javascript" src="~/Scripts/custom/Service/ServiceMethods.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlCustomerDashboard.js"></script>


}



