@{
    ViewBag.Title = "RFID History";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel1"></div>
        <div class="row">
            <div class="col-lg-12">
                <section class="container-fluid">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.RFID_History
                        </div>
                        <div class="table-box list-view">
                            <table id="tblRFID" class="table">
                                <thead>
                                    <tr role="row" class="table-head">
                                        <th class="tbnew">
                                            @Resource.RFID_No
                                        </th>
                                        <th class="tbnew">
                                            @Resource.Certificate_No
                                        </th>
                                        <th class="tbnew">
                                            @Resource.Created_On
                                        </th>
                                        <th class="tbnew">
                                            @Resource.Created_By
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script src="~/Scripts/custom/Controller/CtrlRFIDHistory.js"></script>
}



