@model List<mstRFIDModel>
@{
    ViewBag.Title = "RFIDMaster";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
}
<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel1"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                        <div class="dash-box mt-10">
                            <div class="dash-head"> @Resource.RFID_Master</div>
                            <div class="dash-inner">
                                <form>
                                    <div class="form-group">
                                        <div class="upload-info">
                                            @Resource.Select__file_for_RFID_master  -
                                            <div class="sample-format">
                                                <a href="~/Content/INV/Temp/RFIDMaster.xlsx"> @Resource.Download_sample_file_for_upload</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="upload-filter"> @Resource.Select_file</label>
                                        <input type="file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="text-left">
                                        <button type="button" id="mstRFIDUpload" class="btn btn-primary">@Resource.Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <div class="col-md-7">
                    <div class="dash-box  mt-10">
                        <div class="dash-head"> @Resource.RFID_Master</div>
                        <div class="table-box list-view">
                            <table class="table">
                                <thead class="bordertp">
                                    <tr>
                                        <th class="tbnew"> @Resource.RFID</th>
                                        <th class="tbnew"> @Resource.Status</th>
                                        <th class="tbnew"> @Resource.Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var rfidmst in Model)
                                    {
                                        var curStatus = rfidmst.CurrentStatus == 0 ? "Not Available" : (rfidmst.CurrentStatus == 1 ? "Already Assigned" : (rfidmst.CurrentStatus == 2 ? "Free" : (rfidmst.CurrentStatus == 3 ? "Expired" : "Not Defined")));
                                        <tr>
                                            <td class="tbnew">@rfidmst.RfidNo</td>
                                            <td class="tbnew">@curStatus</td>
                                            <td class="tbnew" style="text-align:left;width">
                                                <div class="form-group">
                                                    <label>
                                                        <input type="radio" name="group1_@rfidmst.RfidNo" value="1" data-rfid="@rfidmst.RfidNo" @(rfidmst.Isactive == true ? "checked" : "")> @Resource.Active
                                                    </label>
                                                    <label class="ml-10">
                                                        <input type="radio" name="group1_@rfidmst.RfidNo" value="0" data-rfid="@rfidmst.RfidNo" @(rfidmst.Isactive == false ? "checked" : "")> @Resource.In_Active
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section script{
    <script src="~/Scripts/custom/Service/ServiceMethods.js"></script>
    <script src="~/Scripts/custom/Controller/CtrlRFIDMaster.js"></script>
}