@{
    ViewBag.Title = "Update";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
}
<div class="content-wrapper">
    <div id="uiPanel1"></div>
    <section class="content">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <div class="dash-box mt-10">
                            <div class="dash-head">@Resource.Inventory_Upload</div>
                            <div class="dash-inner">
                                <div class="form-group">
                                    <div class="upload-info">
                                        @Resource.Select__xlxs__file_to_Update_RFID
                                        <div class="sample-format">
                                            <a href="~/Content/INV/Temp/RFIDupdateFormat.xlsx">@Resource.Download_sample_file_for_upload</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="upload-filter"> @Resource.Select_file</label>
                                    <input type="file" id="fileUpload" name="fileUpload">
                                </div>
                                <div class="text-left">
                                    <button type="button" id="btnRFIDUpdate" class="btn btn-primary" value="RFIDupdate">@Resource.Upload</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section script{
    <script src="~/Scripts/custom/Controller/CtrlRFIDUpdate.js"></script>
}


