@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <form method="post">
            <div class="banner-div">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12"><img src="~/Content/img/banner.jpg" width="100%;"></div>
                    </div>
                </div>
            </div>
            <div class="welcome-div">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <h4 class="add-title">@Resource.Rosy_Blue_Online_Features</h4>
                                <div class="features-text">
                                    <p><strong>@Resource.Rosy_Blue_Online</strong> @Resource.is_our_latest</p>
                                    <p>@Resource.The_site_allows_clients_to_browse</p>

                                    <p>@Resource.The_site_offers_stones_certified</p>

                                    <p>@Resource.Our_innovative</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4"></div>

                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

