@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<div id="dialog" style="display: none"></div>
        <div class="row" id="uiPanel"></div>-->
<div class="banner-div">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-7">
                <div class="slider-box">
                    <div id="main-slider" class="carousel-fade carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#main-slider" data-slide-to="1" class=""></li>
                            <li data-target="#main-slider" data-slide-to="2"></li>
                            <li data-target="#main-slider" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="~/Content/slider/img/banner1.jpg" data-holder-rendered="true">
                            </div>
                            <div class="item">
                                <img src="~/Content/slider/img/banner2.jpg" data-holder-rendered="true">
                            </div>
                            <div class="item">
                                <img src="~/Content/slider/img/banner3.jpg" data-holder-rendered="true">
                            </div>
                            <div class="item">
                                <img src="~/Content/slider/img/banner4.jpg" data-holder-rendered="true">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">@Resource.Previous</span>
                        </a>
                        <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">@Resource.Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5">
                @{Html.RenderPartial("~/Views/Shared/_PartialLogin.cshtml");}
            </div>
            @*<div class="">
                    @Html.Action("UpcomingShows")
                </div>*@
        </div>
    </div>
</div>
<div class="welcome-div">
    <div class="container">
        <div class="welcome-inner">
            <div class="welcome_head">@Resource.Welcome_To_Rosy_Blue</div>
            <p class="welcome_para">@Resource.HomePage_Para1</p>
        </div>
    </div>
</div>
@*<div class="">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#home" aria-expanded="false">REVISED STONE</a></li>
                <li class="active"><a data-toggle="tab" href="#menu1" aria-expanded="true">NEW STONE</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade">
                    <table class="table table-striped">
                        <thead class="theadbg">
                            <tr>
                                <th scope="col">Lot Number</th>
                                <th scope="col">Shape</th>
                                <th scope="col">Carate</th>
                                <th scope="col">Colour</th>
                                <th scope="col">Clarity</th>
                                <th scope="col">Size</th>
                                <th scope="col">Cut</th>
                                <th scope="col">Polish</th>
                                <th scope="col">Symmetry</th>
                                <th scope="col">Lab</th>
                                <th scope="col">Rap</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Price</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Gridle</th>
                                <th scope="col">Certificate No</th>
                                <th scope="col">Shade</th>
                                <th scope="col">Milky</th>
                                <th scope="col">Table Black</th>
                                <th scope="col">Center Black</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div id="menu1" class="tab-pane fade active in">
                    <table class="table table-striped">
                        <thead class="theadbg">
                            <tr>
                                <th scope="col">Lot Number</th>
                                <th scope="col">Shape</th>
                                <th scope="col">Carate</th>
                                <th scope="col">Colour</th>
                                <th scope="col">Clarity</th>
                                <th scope="col">Size</th>
                                <th scope="col">Cut</th>
                                <th scope="col">Polish</th>
                                <th scope="col">Symmetry</th>
                                <th scope="col">Lab</th>
                                <th scope="col">Rap</th>
                                <th scope="col">Discount</th>
                                <th scope="col">Price</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Gridle</th>
                                <th scope="col">Certificate No</th>
                                <th scope="col">Shade</th>
                                <th scope="col">Milky</th>
                                <th scope="col">Table Black</th>
                                <th scope="col">Center Black</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>*@

<div class="client-logo">
    <div class="container">
        <div class="c-logo-div">
            <img src="~/Content/img/client-logo.png" />
        </div>
    </div>
</div>
<div class="best-view">
    <div class="container">
        <div class="text-center">@Resource.Site_best_viewed</div>
    </div>
</div>
<form id="Modal-Forgetpassword" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class=""></button>*@
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title">@Resource.Forget_Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-inline">
                    <div class="col-md-9">
                        <input class="form-control col-md-12" name="ForgetpasswordEmail" id="txtForgetpasswordEmail" placeholder="Registered Email ID" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btnForgetPassword">@Resource.Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</form>


    @section script{
        <script src="~/Scripts/custom/uiApp.js"></script>
        <script src="~/Scripts/custom/myApp.js"></script>
        <script src="~/Scripts/custom/Service/ServiceMethods.js"></script>
        <script src="~/Scripts/custom/Controller/CtrlLogin.js"></script>
    }

