<footer>
    <div class="footer-bg">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-6">
                    <div>©RosyBlue, @DateTime.Now.Year </div>
                </div>
                <div class="col-lg-6">
                    <ul class="footer-links pull-right">
                        <li class="">@Html.ActionLink(@Resource.Privacy_Policy, "PrivacyPolicy", "Home")</li>
                        <li>@Html.ActionLink(@Resource.Terms_of_Use, "TermsOfUse", "Home")</li>
                        <li style="display:none;">@Html.ActionLink(@Resource.Pricing_Discount_Policy, "PricingDiscountPolicy", "Home")</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>
