@{
    string CurrentCulture = Request.Cookies["CurrentCulture"] == null ? "en" : Request.Cookies["CurrentCulture"].Value;
}
<!DOCTYPE html>
<html lang="@CurrentCulture">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - RosyblueOnline</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @RenderSection("header", false)
</head>
<body>
    <header>        
        <div class="topbar hidden-xs">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="tel:+912266650000"><i class="fa fa-phone" aria-hidden="true"></i> +91 22 66650000</a></li>
                    <li><a href="mailto:shanay.mehta@rosyblue.com"><i class="fa fa-envelope" aria-hidden="true"></i> shanay.mehta@rosyblue.com</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="spblink">GST will be applied for Indian customers</li>
                    <li class="form-inline">
                        <label>Select Language</label>
                        <select name="Language" id="ddlLanguage" class="form-control">
                            <option value="en" @(@CurrentCulture == "en" ? "selected" : "")>English</option>
                            <option value="ja" @(@CurrentCulture == "ja" ? "selected" : "")>Japanese</option>
                            @* <option value="hi" @(@CurrentCulture == "hi" ? "selected" : "")>Hindi</option>*@
                        </select>
                    </li>
                </ul>
            </div>  
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/Content/img/newlogo.png" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink(Resource.Home, "Index", "Home")</li>
                        <li><a href="https://www.rosyblue.com/about-us" target="_blank">@Resource.About</a></li>
                        <li>@Html.ActionLink(Resource.Features, "Features", "Home")</li>
                        <li>@Html.ActionLink(Resource.Register, "Registration", "Home")</li>
                        <li>@Html.ActionLink(Resource.Contact_Us, "ContactUs", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div id="body">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @{ Html.RenderPartial("_Footer"); }
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/bootstrap")
    @RenderSection("script", false)
    <script>
        $(document).ready(function () {
            var ls = new LanguageService();

            $('#ddlLanguage').change(function (e) {
                e.preventDefault();
                var code = $('#ddlLanguage').val();
                ls.changeCulture(code).then(function (response) {
                    location.reload();
                }, function (error) {

                });
            });
        });

        var LanguageService = function () {
            var obj = {};

            obj.changeCulture = function (ddlCulture) {
                return new Promise(function (fulfilled, reject) {
                    $.ajax({
                        url: ('/Home/ChangeCulture?ddlCulture=' + ddlCulture),
                        method: 'post',
                        success: function (response) {
                            fulfilled(response);
                        },
                        error: function (error) {
                            reject(error);
                        }
                    });
                });
            };

            return obj;
        }
    </script>
</body>
</html>
