<div id="Modal-FormMemo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class=""></button>*@
                <a href="#" class="close" data-dismiss="modal"> &times;</a>
                <h4 class="modal-title">@Resource.Add_to_Memo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="pnlMemoInfoWindow" style="display:none;">
                        <div id="MemoInfoOperation"></div>
                        <table class="table table-fixed dataTable no-footer" id="MemoInfoTable">
                            <thead class="bordertp">
                                <tr role="row" class="table-head">
                                    <th class="tbnew">
                                        <label>@Resource.Memo_No</label>
                                    </th>
                                    <th class="tbnew">
                                        <label>@Resource.Date</label>
                                    </th>
                                    <th class="tbnew">
                                        <label>@Resource.Customer</label>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <table id="MemoTable" class="table table-fixed dataTable no-footer" role="grid">
                    <thead class="bordertp">
                        <tr role="row" class="table-head">
                            <th class="tbnew dt-checkbox hide">
                                <input type="checkbox" id="checkAll" name="checkAll" class="group-checkable" value="checkAll">
                            </th>
                            <th class="tbnew">
                                <label for="Stock">@Resource.Stock</label>
                            </th>
                            <th class="tbnew">
                                <label for="Certificate_">@Resource.CertificateId</label>
                            </th>
                            <th class="tbnew dt-V360">
                                <label for="V360">@Resource.V360</label>
                            </th>
                            <th class="tbnew">
                                <label for="Shape">@Resource.Shape</label>
                            </th>
                            <th class="tbnew">
                                <label for="Weight">@Resource.Weight</label>
                            </th>
                            <th class="tbnew">
                                <label for="Color">@Resource.Color</label>
                            </th>
                            <th class="tbnew">
                                <label for="Clarity">@Resource.Clarity</label>
                            </th>
                            <th class="tbnew">
                                <label for="Diamentions">@Resource.Diamentions</label>
                            </th>
                            <th class="tbnew">
                                <label for="Table_">@Resource.Table</label>
                            </th>
                            <th class="tbnew">
                                <label for="Depth_">@Resource.Depth</label>
                            </th>
                            <th class="tbnew">
                                <label for="Girdle">@Resource.Girdle</label>
                            </th>
                            <th class="tbnew">
                                <label for="Cut">@Resource.Cut</label>
                            </th>
                            <th class="tbnew">
                                <label for="Polish">@Resource.Polish</label>
                            </th>
                            <th class="tbnew">
                                <label for="Symmetry">@Resource.Symmetry</label>
                            </th>
                            <th class="tbnew">
                                <label for="Flora">@Resource.Flora</label>
                            </th>
                            <th class="tbnew">
                                <label for="Lab">@Resource.Lab</label>
                            </th>
                            <th class="tbnew">
                                <label for="RapPrice">@Resource.RapPrice</label>
                            </th>
                            <th class="tbnew">
                                <label for="RapDisc___">@Resource.RapDisc</label>
                            </th>
                            <th class="tbnew" id="sl">
                                <label for="Price____ct">@Resource.Pricect</label>
                            </th>
                            <th class="tbnew">
                                <label for="Amount">@Resource.Amount</label>
                            </th>
                            <th class="tbnew">
                                <label for="D_R">@Resource.DR</label>
                            </th>
                            <th class="tbnew">
                                <label for="CrownHeight">@Resource.CrownHeight</label>
                            </th>
                            <th class="tbnew">
                                <label for="CrownAngle">@Resource.CrownAngle</label>
                            </th>
                            <th class="tbnew">
                                <label for="PavilionDepth">@Resource.PavilionDepth</label>
                            </th>
                            <th class="tbnew">
                                <label for="PavilionAngle">@Resource.PavilionAngle</label>
                            </th>
                            <th class="tbnew">
                                <label for="Starlength">@Resource.Starlength</label>
                            </th>
                            <th class="tbnew">
                                <label for="LowerHalf">@Resource.LowerHalf</label>
                            </th>
                            <th class="tbnew">
                                <label for="Girdle_">@Resource.Girdle_Per</label>
                            </th>
                            <th class="tbnew">
                                <label for="Laser">@Resource.Laser</label>
                            </th>
                            <th class="tbnew">
                                <label for="EC">@Resource.EC</label>
                            </th>
                            <th class="tbnew">
                                <label for="Shade">@Resource.Shade</label>
                            </th>
                            <th class="tbnew">
                                <label for="Milky">@Resource.Milky</label>
                            </th>
                            <th class="tbnew">
                                <label for="TableBlack">@Resource.TableBlack</label>
                            </th>
                            <th class="tbnew">
                                <label for="CentreBlack">@Resource.CentreBlack</label>
                            </th>
                            <th class="tbnew">
                                <label for="H_A">@Resource.HA</label>
                            </th>
                            <th class="tbnew">
                                <label for="Opens">@Resource.Opens</label>
                            </th>
                            <th class="tbnew">
                                <label for="Keytosymbol">@Resource.Keytosymbol</label>
                            </th>
                            <th class="tbnew">
                                <label for="GIAcomments">@Resource.GIAcomments</label>
                            </th>
                            <th class="tbnew">
                                <label for="ReportDate">@Resource.ReportDate</label>
                            </th>
                            <th class="tbnew">
                                <label for="SalesLocation">@Resource.SalesLocation</label>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline">
                            <div class="form-group col-md-2">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="chkSellDirectly">@Resource.Sell_Directly</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="chkConfirmMemo">@Resource.Confirm_Memo</label>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <select class="form-control" name="CustomerID" id="ddlCustomer"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" name="Remark" id="txtMemoRemark" placeholder="Remark" />
                            </div>
                            <div class="form-group marginleft">
                                <a class="btn btn-primary" target="_blank" href="/User?OnlyAddCustomer=true"><i class="fa fa-plus" aria-hidden="true"></i>@Resource.Add_Customer</a>
                            </div>
                            <div class="form-group marginleft">
                                <button class="btn btn-primary" id="btnSaveMemo"> @Resource.Proceed <i class="fa fa-step-forward" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>

    </div>
</div>