@model int
<div class="row" id="StockSummaryModule_@Model">
    <div class="customers-list-table">
        <div class="customers-list-table">
            <div class="col-md-12">
                <div class="stock-box">
                    <div class="memo-title">
                        <h2>@Resource.Stock_Summary</h2>
                        <input type="hidden" name="StockSStatus" id="hfStockS" value="ByValue" />
                    </div>
                    <div class="panel-body paneltable">
                        <div class="form-horizontal row">
                            <div class="form-group">
                                <div class="col-md-4 col-xs-12">
                                    <div class="stone-inputbox">
                                        <label class="control-label">
                                            @Resource.Select_Type
                                        </label>
                                        <select class="form-control" id="ddlSType_@Model">
                                            <option value="ByValue"> @Resource.By_Value</option>
                                            <option value="ByStone"> @Resource.By_no_of_stone</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <div class="stone-inputbox">
                                        <label class="control-label">
                                            @Resource.Select_Sales_Location
                                        </label>
                                        <select class="form-control" id="ddlSalesLocation_@Model"></select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <div class="stone-inputbox">
                                        <label class="control-label">
                                            @Resource.Select_Shape
                                        </label>
                                        <select class="form-control" id="ddlShape_@Model">
                                            <option value="ALL"> @Resource.All</option>
                                            <option value="FancyShape"> @Resource.Fancy_Shapesm</option>
                                            <option value="RoundShape"> @Resource.Round_Shapesm</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="stock_scrollBody">
                                    <table id="tblStockStatus_@Model" class="table table-fixed dataTable no-footer">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">

                                                <th class="tbnew">

                                                </th>
                                                <th class="tbnew">
                                                    <label> @Resource.Sizes</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label> @Resource.Total_Inventory</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label> @Resource.On_Memo</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label> @Resource.Website_Order_Pending</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label> @Resource.Available</label>
                                                </th>

                                                @*<th class="tbnew">
                                                        <label>TotInvValue</label>
                                                    </th>

                                                    <th class="tbnew">
                                                        <label>TotOnMemoValue</label>
                                                    </th>

                                                    <th class="tbnew">
                                                        <label>TotOrdPendingValue</label>
                                                    </th>

                                                    <th class="tbnew">
                                                        <label>TotAvailbaleValue</label>
                                                    </th>*@
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="tbnew">
                                                </th>
                                                <th class="tbnew">
                                                    <label> @Resource.Total</label>
                                                </th>
                                                <th class="tbnew">

                                                </th>
                                                <th class="tbnew">

                                                </th>
                                                <th class="tbnew">

                                                </th>
                                                <th class="tbnew">

                                                </th>
                                                @*<th class="tbnew">

                                                    </th>
                                                    <th class="tbnew">

                                                    </th>
                                                    <th class="tbnew">

                                                    </th>
                                                    <th class="tbnew">

                                                    </th>*@
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script type="text/javascript" language="javascript">

        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


    </script>

}