<form class="login-box clearfix">
    <h3 class="login-title">@Resource.Login</h3>
    <div class="white-bg clearfix">
        <div>
            <input type="text" class="login-input" name="Username" placeholder="@Resource.User_Name" />
            <input type="password" class="login-input" name="Password" placeholder="@Resource.Password" />
        </div>
        <div class="row">
            <div class="col-xs-6">
                <input type="submit" class="btn btn-primary btn-login" value="@Resource.Login" />
            </div>
            <div class="col-xs-6 text-right">
                <a href="#" class="forgot-pass" id="ancFP">@Resource.Forget_Password</a>
            </div>
        </div>
        <div class="newuser-block text-center mt-20">
            <a href="/Home/Registration">@Resource.New_UserPlease_Register_Here</a>
        </div>
    </div>

</form>

@*JPG invitation modal popup*@
<div class="modal fade" id="myModalInvitation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 420px;">
        <div class="modal-content">
            <div class="modal-body" align="center">
                @*<video width="380" height="420" controls>
                    <source src="~/Content/RosyBlueOnline.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>*@
                <img src="~/Content/img/Diwali_Bannner_2019.jpg" class="img-responsive" width="380" height="420" />
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
      $(document).ready(function () {
        //  $("#myModalInvitation").modal('show'); 
    });
    
</script> 