@{
    ViewBag.Title = "Cart";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<div class="content-wrapper">
    @*<div id="uiPanel1"></div>*@
    <section >
        <div id="uiPanel1"></div>
        @*<a href="/Inventory/ExportToExcelInventoryDownload" id="ancDownloadExcel" target="_blank" style="display:none;">Download Excel</a>*@
        @Html.Partial("~/Views/Shared/_PartialSpecificSearchResult.cshtml", "Cart")
        <div id="uiPanel2"></div>
        <section class="content" id="pnlOrderConfirmation"  style="display:none;" >
            @*style="display:none"*@
            <div class="row">
                <div class="col-md-12">
                    <p><b>@Resource.Note</b>@Resource.Below_prices_amounts</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dash-box">
                        @*style="overflow-x: scroll; max-height: 390px;"*@
                        <div class="table-box">
                            <table id="SearchTablePostForOrder" class="table table-fixed dataTable no-footer" role="grid" aria-describedby="SearchTablePost_info">
                                <thead class="bordertp">
                                    <tr role="row" class="table-head">
                                        <th class="tbnew stock">
                                            <label for="Stock">@Resource.Stock</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Certificate_">@Resource.CertificateId</label>
                                        </th>
                                        <th class="tbnew dt-V360">
                                            <label for="V360">@Resource.V360</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Shape">@Resource.Shape</label>
                                        </th>
                                        <th class="tbnew dt-weight">
                                            <label for="Weight">@Resource.Weight</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Color">@Resource.Color</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Clarity">@Resource.Clarity</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Diamentions">@Resource.Diamentions</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Table_">@Resource.Table</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Depth_">@Resource.Depth</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Girdle">@Resource.Girdle</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Cut">@Resource.Cut</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Polish">@Resource.Polish</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Symmetry">@Resource.Symmetry</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Flora">@Resource.Flora</label>
                                        </th>
                                        <th class="tbnew lab">
                                            <label for="Lab">@Resource.Lab</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="RapPrice">@Resource.RapPrice</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="RapDisc___">@Resource.RapDisc</label>
                                        </th>
                                        <th class="tbnew" id="sl">
                                            <label for="Price____ct">@Resource.Price_ct</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Amount">@Resource.Amount</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="D_R">@Resource.DR</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="CrownHeight">@Resource.CrownHeight</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="CrownAngle">@Resource.CrownAngle</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="PavilionDepth">@Resource.PavilionDepth</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="PavilionAngle">@Resource.PavilionAngle</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Starlength">@Resource.Starlength</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="LowerHalf">@Resource.LowerHalf</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Girdle_">@Resource.Girdle_Per</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Laser">@Resource.Laser</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="EC">@Resource.EC</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Shade">@Resource.Shade</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Milky">@Resource.Milky</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="TableBlack">@Resource.TableBlack</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="CentreBlack">@Resource.CentreBlack</label>
                                        </th>
                                        <th class="tbnew ha">
                                            <label for="H_A">@Resource.HA</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Opens">@Resource.Opens</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="Keytosymbol">@Resource.Keytosymbol</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="GIAcomments">@Resource.GIAcomments</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="ReportDate">@Resource.ReportDate</label>
                                        </th>
                                        <th class="tbnew">
                                            <label for="SalesLocation">@Resource.SalesLocation</label>
                                        </th>
                                    </tr>
                                </thead>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.Select_Billing_Address
                        </div>
                        <div class="dash-inner" id="divBillingAddress">
                            @{
                                Html.RenderPartial("~/Views/Shared/_PartialAddressManager.cshtml", 1);
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dash-box">
                        <div class="dash-head">
                            @Resource.Select_Shipping_Address
                        </div>
                        <div class="dash-inner" id="divShippingAddress">
                            @{
                                Html.RenderPartial("~/Views/Shared/_PartialAddressManager.cshtml", 2);
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="dash-box">
                        <div class="dash-inner">
                            <div class="table-box">
                                <table class="table">
                                    <thead class="bordertp">
                                        <tr>
                                            <th class="tbnew">
                                                @Resource.Total_pcs
                                            </th>
                                            <th class="tbnew">
                                                @Resource.Tot_Carat
                                            </th>
                                            <th class="tbnew">
                                                @Resource.Tot_Amount
                                            </th>
                                            <th class="tbnew">
                                                @Resource.Disc
                                            </th>
                                            <th class="tbnew">
                                                @Resource.Price_ct
                                            </th>
                                            <th class="tbnew">
                                                @Resource.Payable_Amount
                                            </th>
                                        </tr>
                                        <tr></tr>
                                    </thead>
                                    <tbody id="tblBodySummaryForOrder">
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-inline mt-15">
                                <div class="form-group">
                                    <label for="exampleInputName2">@Resource.Shipping_Mode</label>
                                    <select class="form-control" id="ddlShippingMode" name="ddlShippingMode">
                                        <option value="1" selected>@Resource.Direct_Ship</option>
                                        <option value="0">@Resource.Self_Pickup</option>
                                    </select>
                                </div>
                            </div>
                            <br />
                            <button class="btn btn-primary" id="btnConfirmOrder">@Resource.Confirm_Order</button>
                            <button class="btn btn-default" id="btnCancelOrder">@Resource.Cancel_Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <b>@Resource.Disclaimer:</b> @Resource.DisclaimerText
                </div>
            </div>
        </section>
    </section>
</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/x-jquery-tmpl" id="tmplOrderDetail">
        <tr>
            <td>${actionMode} : ${chargesName}</td>
            <td>
                {{if chargesType == 1}}
                ${chargesValue} %
                {{/if}}
                {{if chargesType == 2}}
                ${chargesValue}
                {{/if}}
            </td>
            <td>
                ${chargesAmount}
            </td>
        </tr>
    </script>
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/ModuleAddressManager.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlCart.js"></script>
}

