@model Rosyblueonline.Models.ViewModel._SearchFilterViewModel
@{
    ViewBag.Title = "SpecificSearch";
    Model.FromID = "divSpecificSearch";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
}

<div class="content-wrapper" id="divSearchPanel">
    <div id="uiPanel1"></div>
    <section class="content">
        @Html.Partial("~/Views/Shared/_PartialSpecificSearch.cshtml", model: Model)
    </section>
</div>
<div class="content-wrapper" id="divSearchResult" style="display:none">
    <div id="uiPanel2"></div>
    @Html.Partial("~/Views/Shared/_PartialSpecificSearchResult.cshtml", "SS")

    @*@{

            IEnumerable<inventoryDetailsViewModel> teachers = ViewBag.SearchResultList as IEnumerable<inventoryDetailsViewModel>;
        }

        <table>
            <tr>
                <th>dsdsd</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </table>
        @if (teachers != null)
        {

            <table>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
                @foreach (inventoryDetailsViewModel teacher in teachers)
                {
                    <tr>
                        <td>@teacher.Certificate</td>
                        <td>@teacher.Color</td>
                        <td>@teacher.Origin</td>
                    </tr>
                }
            </table>
        }*@

    @*@if (ViewData["SearchResultList"] != null)
        {
            @Html.Partial("~/Views/Shared/_PartialSpecificSearchResult.cshtml", ViewData["SearchResultList"])
        }*@

</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/ModuleSearchFilter.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/CtrlSpecificSearch.js"></script>*@

    @*<script type="text/javascript" src="~/Scripts/custom/Controller/CtrlMemoDetails.js"></script>*@


    @*<script type="text/javascript">
        $(document).ready(function () {
            MenuName = "Search";
            $.ajax({
                type: "POST",
                url: "/Home/PageAccessCheck",
                data: '{MenuName: "' + MenuName + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.IsSuccess == true) {

                    } else {
                        $('#Modal-AccessDenied').modal('show');
                        uiApp.Alert({ container: '#uiPanel1', message: "You don't have a access of this page", type: "danger" });
                        setTimeout(function () {
                            location.href = '/Home/Index';
                        }, 1000);
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        });
    </script>*@

    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/ModuleSearchFilter.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>


    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/CtrlSpecificSearch.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
    <script>

        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


    </script>
}


