@{
    ViewBag.Title = "Stone History";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel1"></div>
        <div class="row">
            <div class="col-lg-12">
                <section class="stock-box">
                    <div class="memo-title">
                        <h2>@Resource.Stone_History</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="frmStoneHistory" class="customers-info">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="stone-inputbox">
                                                    <label class="control-label">
                                                        @Resource.Upload_Stone_IDs
                                                    </label>
                                                    <div class="stone-input">
                                                        <input type="file" name="name" accept=".csv" id="fuStoneIDs" class="form-control" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="stone-inputbox">
                                                    <label class="control-label">
                                                        @Resource.Stone_IDs
                                                    </label>
                                                    <div class="stone-input">
                                                        <input name="StoneIDs" class="form-control" id="txtStoneIDs" type="text" value="" required>
                                                        <button type="button" class="btn btn-primary" id="btnShow">@Resource.Show</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="tblSearchTable" class="table table-fixed dataTable no-footer" role="grid" aria-describedby="SearchTablePost_info">
                                    <thead class="bordertp">
                                        <tr role="row" class="table-head">
                                            <th class="tbnew">
                                                <label for="LotNo">LotNo</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="shape">@Resource.Shape</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="diaWeight">@Resource.Carat</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="colorName">@Resource.Color</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="clarityName">@Resource.Clarity</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="cutGradeName">@Resource.Cut</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="pricePerCT">@Resource.Price_ct</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="discount">@Resource.Discount</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="FlagDescription">@Resource.Activity</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="CompanyName">@Resource.Company_Name</label>
                                            </th>
                                            <th class="tbnew CustomerName">
                                                <label for="CustomerName">@Resource.Customer_Name</label>
                                            </th> 
                                            <th class="tbnew dt-date">
                                                <label for="CreatedOn">@Resource.LastUpdatedDate</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="discount">@Resource.Previous_Discount</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="newDiscount">@Resource.Uploaded_Discount</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="rapPrice">@Resource.Previous_Rap_Price</label>
                                            </th>
                                            <th class="tbnew">
                                                <label for="newRapPrice">@Resource.Uploaded_Rap_Price</label>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script src="~/Scripts/custom/Controller/CrtlStoneHistory.js"></script>
}



