@{
    ViewBag.Title = "Stone History";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<div class="content-wrapper">
    <section class="content">
        <div id="uiPanel1"></div>
        <div class="row">
            <div class="col-lg-12">
                <section class="stock-box">
                    <div class="memo-title">
                        <h2>@Resource.Stone_History</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="frmStoneHistory" class="customers-info">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="stone-inputbox">
                                                    <label class="control-label">
                                                        @Resource.Upload_Stone_IDs
                                                    </label>
                                                    <div class="stone-input">
                                                        <input type="file" name="name" accept=".csv" id="fuStoneIDs" class="form-control" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xs-12">
                                                <div class="stone-inputbox">
                                                    <label class="control-label">
                                                        @Resource.Stone_IDs
                                                    </label>
                                                    <div class="stone-input">
                                                        <input name="StoneIDs" class="form-control" id="txtStoneIDs" type="text" value="" required>
                                                        <button type="button" class="btn btn-primary" id="btnShow">@Resource.Show</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="stock_scrollBody">
                                    <table id="tblSearchTable" class="table table-fixed dataTable no-footer" role="grid" aria-describedby="SearchTablePost_info">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label for="LotNo">LotNo</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="shape">@Resource.Shape</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="diaWeight">@Resource.Carat</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="colorName">@Resource.Color</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="clarityName">@Resource.Clarity</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="cutGradeName">@Resource.Cut</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="pricePerCT">@Resource.Price_ct</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="discount">@Resource.Discount</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="FlagDescription">@Resource.Activity</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="CompanyName">@Resource.Company_Name</label>
                                                </th>
                                                <th class="tbnew CustomerName">
                                                    <label for="CustomerName">@Resource.Customer_Name</label>
                                                </th>
                                                <th class="tbnew dt-date">
                                                    <label for="CreatedOn">@Resource.LastUpdatedDate</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="discount">@Resource.Previous_Discount</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="newDiscount">@Resource.Uploaded_Discount</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="rapPrice">@Resource.Previous_Rap_Price</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label for="newRapPrice">@Resource.Uploaded_Rap_Price</label>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    @*<script src="~/Scripts/custom/Controller/CrtlStoneHistory.js"></script>*@



    @*<script type="text/javascript">
        $(document).ready(function () {
            MenuName = "StoneHistory";
            $.ajax({
                type: "POST",
                url: "/Home/PageAccessCheck",
                data: '{MenuName: "' + MenuName + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.IsSuccess == true) {

                    } else {
                        $('#Modal-AccessDenied').modal('show');
                        uiApp.Alert({ container: '#uiPanel1', message: "You don't have a access of this page", type: "danger" });
                        setTimeout(function () {
                            location.href = '/Home/Index';
                        }, 1000);
                    }

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        });

    </script>*@


    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/CrtlStoneHistory.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
    <script>

        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


    </script>
}



