@{
    ViewBag.Title = "StoneStatus";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<div class="content-wrapper">
    <div id="uiPanel1"></div>
    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="memo-title status-title">
                    <h2>@Resource.Stone_Status</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <form id="frmStoneStatus">

                    <div class="panel panel-primary">
                        <div class="panel-body stonestatusbox">
                            <div class="customers-info">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <div class="status-boxes">
                                                <div class="status-box">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optradio" id="rbtnLotNo" value="LOTNO" checked><label for="rbtnLotNo" class="controll-label">@Resource.Lot_No</label>
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optradio" id="rbtnCertNo" value="CERTNO"><label for="rbtnCertNo" class="controll-label">@Resource.Cert_No</label>
                                                    </label>
                                                </div>
                                                <div class="status-box">
                                                    <label for="fuName" class="control-label">@Resource.Select_file</label>
                                                    <input class="form-control" id="fuName" name="Name" type="file">
                                                </div>
                                                <div class="status-box">
                                                    <label for="fuName" class="control-label">@Resource.Lot_Cret_No</label>
                                                    <input class="form-control" id="txtLotNo" name="LotNoName" type="text">
                                                </div>
                                                <div class="status-box2">
                                                    <div class="status-btn">
                                                        <button class="btn btn-primary pull-right" id="btnSubmit">@Resource.Submit</button>
                                                        <button class="btn btn-primary pull-right" id="btnExcel">@Resource.Excel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="/Inventory/ExportToExcelInventoryDownload?filename=StoneStatusExport" id="ancDownloadExcel" target="_blank" style="display:none;">@Resource.Download_Excel</a>
                </form>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">

                    <div class="panel-body paneltable">
                        <table id="SearchTablePost" class="table table-fixed dataTable no-footer" role="grid" aria-describedby="SearchTablePost_info">
                            <thead class="bordertp">
                                <tr role="row" class="table-head">
                                    <th class="tbnew">
                                        <label for="Stock">@Resource.Stock</label>
                                    </th>
                                    <th class="tbnew Stock">
                                        <label for="Stock">@Resource.Status</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Certificate_">@Resource.CertificateId</label>
                                    </th>
                                    <th class="tbnew dt-V360">
                                        <label for="V360">@Resource.V360</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Shape">@Resource.Shape</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Weight">@Resource.Weight</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Color">@Resource.Color</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Clarity">@Resource.Clarity</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Diamentions">@Resource.Diamentions</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Table_">@Resource.Table</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Depth_">@Resource.Depth</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Girdle">@Resource.Girdle</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Cut">@Resource.Cut</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Polish">@Resource.Polish</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Symmetry">@Resource.Symmetry</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Flora">@Resource.Flora</label>
                                    </th>
                                    <th class="tbnew lab">
                                        <label for="Lab">@Resource.Lab</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="RapPrice">@Resource.RapPrice</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="RapDisc___">@Resource.RapDisc</label>
                                    </th>
                                    <th class="tbnew" id="sl">
                                        <label for="Price____ct">@Resource.Price_ct</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Amount">@Resource.Amount</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="D_R">@Resource.DR</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="CrownHeight">@Resource.CrownHeight</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="CrownAngle">@Resource.CrownAngle</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="PavilionDepth">@Resource.PavilionDepth</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="PavilionAngle">@Resource.PavilionAngle</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Starlength">@Resource.Starlength</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="LowerHalf">@Resource.LowerHalf</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Girdle_">@Resource.Girdle_Per</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Laser">@Resource.Laser</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="EC">@Resource.EC</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Shade">@Resource.Shade</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Milky">@Resource.Milky</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="TableBlack">@Resource.TableBlack</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="CentreBlack">@Resource.CentreBlack</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="H_A">@Resource.HA</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Opens">@Resource.Opens</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="Keytosymbol">@Resource.Keytosymbol</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="GIAcomments">@Resource.GIAcomments</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="ReportDate">@Resource.ReportDate</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="SalesLocation">@Resource.SalesLocation</label>
                                    </th>
                                    <th class="tbnew">
                                        <label for="solddate">Sold_Date</label>
                                    </th>
                                    
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    <script type="text/javascript" src="~/Scripts/custom/Controller/CtrlStoneStatus.js"></script>
}
