@{
    ViewBag.Title = "UploadHistory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    @Styles.Render("~/bundles/DataTable/Style")
}
<div class="content-wrapper">
    @*<div id="uiPanel1"></div>*@
    <section class="content">
        <div id="uiPanel1"></div>
        <div class="row">
            <div class="customers-list-table">
                <div class="">
                    <div class="customers-list-table">
                        <div class="col-md-12">
                            <div class="memo-title">
                                <h2>@Resource.Upload_History</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="upload-history">
                                <div class="panel-body paneltable">
                                    <table id="tblUploadHistory" class="table table-fixed dataTable no-footer" role="grid" aria-describedby="SearchTablePost_info">
                                        <thead class="bordertp">
                                            <tr role="row" class="table-head">
                                                <th class="tbnew">
                                                    <label>@Resource.File_ID</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.File_Type</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Before_Change</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.File_Name</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Uploaded_Date</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Valid</label>
                                                </th>
                                                <th class="tbnew">
                                                    <label>@Resource.Invalid</label>
                                                </th>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section script{
    @Scripts.Render("~/bundles/DataTable/Script")
    <script type="text/javascript" src="~/Scripts/custom/rbDataTable.js"></script>
    @*<script type="text/javascript" src="~/Scripts/custom/Controller/CtrlInventoryUploadHistory.js"></script>*@





    <script type="text/javascript" language="javascript">
        var versionUpdate = (new Date()).getDate();
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "/Scripts/custom/Controller/CtrlInventoryUploadHistory.js?v=" + versionUpdate;
        document.body.appendChild(script);
    </script>
    <script type="text/javascript" language="javascript">

        var appSetting = '@(System.Configuration.ConfigurationManager.AppSettings["WebsiteInspectAccess"].ToString())';
    //    alert(appSetting);
        var InspectBlock = true;
        var array = appSetting.split(",");
        $.each(array, function (i) {
            if (array[i] == $("#hfUserIds").val()) {
                InspectBlock = false;
            }

        });

        //alert($("#hfUserIds").val());
        if (InspectBlock == true) {
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }

                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)) {
                    return false;
                }

            }
        }


    </script>
}
